@import "/home/andrey/.cache/wal/colors-waybar.css";
*
{
  font-family: "DejaVu Sans Mono", monospace;
  font-size: 18px;
  color: @foreground;
}

window#waybar {
  background: @background;
}

#language, #pulseaudio, #backlight, #clock, #battery, #network, #tray {
   padding: 1px 6px;
}


#language {
   color: @color3;
}

#custom-menu, #custom-shutdown, #custom-logout{
  padding: 2px 2px;
  padding-right: 16px;
  padding-left: 14px;
  color: @color3;
}

#custom-menu:hover, #custom-shutdown:hover, #custom-logout:hover {
  background: #ffffff;
  border-radius: 6px;
}

#workspaces button {
    padding: 4px 4px;
    margin: 0px 2px;
    border-radius: 1px;
    background: transparent;
    color: @color3;
}

#workspaces button.focused {
    background: @background;  /* highlight color for active workspace */
    color: @color3;
   /* border: 1px solid #88c0d0;*/
}

#workspaces button.visible {
    background: @color2; /* workspaces visible on another monitor */
}

#workspaces button.urgent {
    background: @background; /* urgent apps highlight */
    color: @color3;
}
